<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="INMUEBLES, VENTA CASA, VENTA DEPARTAMENTO, VENTA TERRENO">
    <meta name="description" content="En esta sección podrás visualizar tus inmuebles favoritos, 
    aquellos que seleccionaste en la página principal">
    <title>Te vendo, inmuebles favoritos</title>
    <link rel="stylesheet" href="../css/traslated.css">
</head>
<body class="layout">
    <header  class="header">
        <picture>
            <img class="img-logo"  src="../img/logo.svg" alt="logo" >
        </picture>
        <nav >
            <ul class="menu">
                <li>
                    <a class="menu__link" href="../index.html">HOME</a>
                </li>
                <li>
                    <a class="menu__link" href="publicar.html">PUBLICAR</a>
                </li>
                <li>
                    <a class="menu__link" href="favoritos.html">FAVORITOS</a>
                </li>
                <li>
                    <a class="menu__link" href="nosotros.html">NOSOTROS</a>
                </li>
                <li>
                    <a class="menu__link" href="contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Inmuebles Favoritos</h1>

        <section class="contenido">

            <article class="articulo">
                <picture class="articulo__picture">
                    <img id="casaventa1" class="articulo__img"  alt="casa en venta 1" >
                </picture>
                <div class="articulo__descripcion">
                    <div class="articulo__descripcion__titulo">
                        <div class="titulo__precio">$50,000</div>
                        <div class="titulo__ubicacion">Ica-Pisco-Pisco</div>
                        <div class="titulo__tipo">Casa</div>
                    </div>
                    <div class="articulo__descripcion__detalle">
                        <div class="inmueble">         
                            URBANIZACIÓN HABILITACIÓN URBANA EL TREBOL MANZANA H LOTE 12 DEL DISTRITO Y PROVINCIA DE PISCO Y DEPARTAMENTO DE ICA
                        </div>
                    </div>
                </div>
            </article>

            <article class="articulo">
                <picture class="articulo__picture">
                    <img id="casaventa2" class="articulo__img"  alt="casa en venta 2" >
                </picture>
                <div class="articulo__descripcion">
                    <div class="articulo__descripcion__titulo">
                        <div class="titulo__precio">$60,000</div>
                        <div class="titulo__ubicacion">Lambayeque-Chiclayo-Chiclayo</div>
                        <div class="titulo__tipo">Casa</div>
                    </div>
                    <div class="articulo__descripcion__detalle">
                        <div class="inmueble">         
                            IMUEBLE INDEPENDIZADO BAJO EL RÉGIMEN DE PROPIEDAD EXCLUSIVA COMÚN. UBICACIÓN: SECCIÓN 104 (GARAJE) MZ K-2 LOTE 16 URB QUINTA MURO DE CHICLAYO II ETAPA, DISTRITO CHICLAYO, PROVINCIA CHICLAYO, DEPARTAMENTO LAMBAYEQUE, INSCRITO EN LA PARTIDA ELECTRÓNICA Nº11184209 DEL REGISTRO DE PROPIEDAD INMUEBLE - REGISTRO DE PREDIOS DE LA ZONA REGISTRAL Nº II - SEDE CHICLAYO.
                        </div>
                    </div>
                </div>
            </article>


        </section>
    </main>
    <footer class="footer">
        <p>Direccion: Cooperativa Residencial la Unión Mz H Lote 25 San Martin de Porres</p>
        <span>Derechos reservados</span>
    </footer>
</body>
</html>