<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te vendo, nosotros</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="container-fluid color-fondo-principal" >
        <div class="row">
            <picture class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <img  class="logo" src="../img/logo.svg" alt="Te Vendo" >
            </picture>
            <nav class="navbar navbar-expand-lg navbar-light col-sm-12 col-md-9 col-lg-9 col-xl-9" >
                <a class="navbar-brand link" href="../index.html">HOME</a>
                <a class="navbar-brand link" href="publicar.html">PUBLICAR</a>
                <a class="navbar-brand link" href="favoritos.html">FAVORITOS</a>
                <a class="navbar-brand link" href="nosotros.html">NOSOTROS</a>
                <a class="navbar-brand link"  href="contacto.html">CONTACTO</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <h1>Nosotros</h1>
        <div class="row fila-separador">
            <div class="contenido__caja col-sm-12 col-md-5 col-lg-5 col-xl-5"> 
                <div class="col-md-12">
                    <h2 >Misión</h2>
                </div>       
                <div class="contenido__descripcion col-md-12">
                    Brindar un espacio seguro a los vendedores inmobiliarios para realizar la publicación de inmuebles en LATAM. 
                    Reducir el costo en la publicación de venta inmobiliaria, dejando de usar medios de comunicación tradicionales.
                </div>  
            </div>
            <div class="contenido__caja col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <div class="col-md-12">
                    <h2 >Visión</h2>
                </div>       
                <div class="contenido__descripcion col-md-12">
                    Publicar inmuebles a nivel internacional. 
                    Ser la mejor página web de venta inmobiliaria a nivel mundial. 
                </div> 
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Direccion: Cooperativa Residencial la Unión Mz H Lote 25 San Martin de Porres</p>
        <span>Derechos reservados</span>
    </div>
</body>
</html>