<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="INMUEBLES, VENTA CASA, VENTA DEPARTAMENTO, VENTA TERRENO">
    <meta name="description" content="En esta sección podrás conocernos un poco mas nuestra misión y visión">
    <title>Te vendo, nosotros</title>
    <link rel="stylesheet" href="../css/traslated.css">
</head>
<body class="layout">
    <header  class="header">
        <picture>
            <img class="img-logo"  src="../img/logo.svg" alt="logo" >
        </picture>
        <nav >
            <ul class="menu">
                <li>
                    <a class="menu__link" href="../index.html">HOME</a>
                </li>
                <li>
                    <a class="menu__link" href="publicar.html">PUBLICAR</a>
                </li>
                <li>
                    <a class="menu__link" href="favoritos.html">FAVORITOS</a>
                </li>
                <li>
                    <a class="menu__link" href="nosotros.html">NOSOTROS</a>
                </li>
                <li>
                    <a class="menu__link" href="contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Nosotros</h1>
        <div class="contenido__fila" >

            <div class="detalle">
                <h2 >Misión</h2>
                <div>
                    Brindar un espacio seguro a los vendedores inmobiliarios para realizar la publicación de inmuebles en LATAM. </li>
                    Reducir el costo en la publicación de venta inmobiliaria, dejando de usar medios de comunicación tradicionales. </li>
                </div>
            </div>
            <div class="detalle">
                <h2 >Visión</h2>
                <div>
                    Publicar inmuebles a nivel internacional. 
                    Ser la mejor página web de venta inmobiliaria a nivel mundial. 
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>Direccion: Cooperativa Residencial la Unión Mz H Lote 25 San Martin de Porres</p>
        <span>Derechos reservados</span>
    </footer>


</body>
</html>