<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te vendo, publicar inmuebles</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="layout">
    <header  class="header">
        <picture>
            <img class="header__img" src="../img/logo.svg" alt="logo" >
        </picture>
        <nav class="navegacion">
            <ul class="menu">
                <li>
                    <a class="menu__link" href="../index.html">HOME</a>
                </li>
                <li>
                    <a class="menu__link" href="publicar.html">PUBLICAR</a>
                </li>
                <li>
                    <a class="menu__link" href="favoritos.html">FAVORITOS</a>
                </li>
                <li>
                    <a class="menu__link" href="nosotros.html">NOSOTROS</a>
                </li>
                <li>
                    <a class="menu__link" href="contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Publica un inmueble</h1>

        <div class="contenido__fila" >
            <div class="numero1">PASO 1</div>
            <div class="numero2">PASO 2</div>
            <div class="numero3">PASO 3</div>
        </div>
        <div class="contenido__fila" >
            <div class="detalle">Paso 1: Enviar un correo mediante la página de contacto, detallando el motivo de publicacion.</div>
            <div class="detalle">Paso 2: Tener preparadas las fotos del inmueble a publica, la descripción del inmueble y la ubicación geográfica del mismo.</div>
            <div class="detalle">Paso 3: Un asesor se comunicará con usted para validar la información y realizar la publicación.</div>
        </div>
    </main>
    <footer class="footer">
        <p>Direccion: Cooperativa Residencial la Unión Mz H Lote 25 San Martin de Porres</p>
        <span>Derechos reservados</span>
    </footer>
</body>
</html>