/*CONTENIDO PUBLICAR- NOSOTROS*/

.contenido__fila{
   grid-area: contenido;
   display: flex;
   flex-direction: row;  
   justify-content: space-around;
   flex-wrap: wrap;
   font-family: 'Zilla Slab', serif;
   font-weight: 50px;

   .detalle{
      background-color: $fondo-ligthblue;
      border-radius: 1rem;
      width: 30%;
      height: 300px;
      padding: 1rem;
      overflow: auto;
      margin:1rem;
   }
   .numero1 {
      width: 60px;
      height: 60px;
      background-color: cadetblue;
      border-radius: 80%;
      animation: animacion-numero1 1s;
      animation-fill-mode: forwards;
      text-align: center;
      padding: 1rem 0;
      color:white;

      &:hover{
        background-color:  $fondo-plomo;
        color:white;
     }
    }
   
    
    .numero2 {
      width: 60px;
      height: 60px;
      background-color: cadetblue;
      border-radius: 80%;
      animation: animacion-numero2 1s;
      animation-fill-mode: forwards;
      text-align: center;
      padding: 1rem 0;
      color:white;

      &:hover{
        background-color:  $fondo-plomo;
        color:white;
     }
    }
   
    
    .numero3 {
      width: 60px;
      height: 60px;
      background-color: cadetblue;
      border-radius: 80%;
      animation: animacion-numero3 1s;
      animation-fill-mode: forwards;
      text-align: center;
      padding: 1rem 0;
      color:white;

      &:hover{
        background-color:  $fondo-plomo;
        color:white;
     }
    }


  
}


