/*HEADER*/
.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $fondo-base;
    font-family: 'Raleway';
    color:$color-base;
    padding: 1rem 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
 
  /*HEADER-MENU*/
 
    .menu{
     display: flex;
     gap: 2rem;
     flex-direction: row;
     flex-wrap: wrap;
 
      &__link{
         padding: 1rem 1.2rem;
         transition: all 0.5s;
         border-color:$color-base;
         &:hover{
          background-color: $color-base;
          color:$color-transicion;
         }
      }
      &__item{
         border-color:$color-base;
         border: 1rem;
      }
    }
 
  /*HEADER-LOGO*/
    .img-logo{
     max-width: 90px;
     animation-name: animacionLogo;
     animation-duration: 3s;
    }
 }