/*normalize*/
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600&family=Raleway:wght@100;200&family=Zilla+Slab:ital,wght@1,300&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.layout{
    display: grid;
    grid-template-areas:
      "header"
      "contenido "
      "footer";
    grid-template-rows: auto; 
    grid-template-columns:auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

img{
   width: 100%;
}

ul{
     list-style-type: none;
}

h1{
   font-family: Raleway;
   font-weight: bold;
   text-align: center;
   padding: 20px;
   color:darkred;
}

h2{
   font-family: Raleway;
   font-weight: bolder;
   text-align: center;
}
