/*variables*/

    $fondo-amarillo:#F9D64E;
    $fondo-plomo: #5E6572;
    $color-crimson: crimson;
    $fondo-ligthblue:#EBEBEB;
    $color-blanco:white;
    $color-azul:blue;
    $tamanio-base:60%


